@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@theme {
    --font-family-roboto-slab: 'RobotoSlabRegular', sans-serif;
    --font-family-roboto-slab-bold: 'RobotoSlabBold', sans-serif;
}

@font-face {
    font-family: 'RobotoSlabRegular';
    src: url('/assets/fonts/RobotoSlab/RobotoSlab-Regular.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'RobotoSlabBold';
    src: url('/assets/fonts/RobotoSlab/RobotoSlab-Bold.woff2') format('woff2');
    font-weight: bold;
}

:root {
    --primary-color: #1F1F1F;
    --secondary-color: #E97436;

    --secondary-hover: #A24E21;

    --light: #ffffff;
    --dark: #2F2F2F;
    --dark-gray: #3B3B3B;
    --gray: #979797;

    --shadow: rgba(0, 0, 0, 0.2);

    --pink: #CC41C9;
    --brown: #63422E;

    --red: #D02A2A;
    --yellow: #EFB436;
    --green: #50AF38;
}

body {
    background-color: var(--primary-color);
    font-family: var(--font-family-roboto-slab);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}