<div class="flex bg-[var(--dark)] text-[12px] rounded-md gap-2 shadow-[0_6px_6px_var(--shadow)] w-full h-full items-center"
    [ngClass]="{
    'cursor-pointer hover:bg-[var(--dark-gray)] justify-center': (icon && title && !number) || (icon && !title && !number),
    'aspect-square': icon && !title && !number,
    'p-3': !icon && (title || number),
    'px-3': icon && (title || number),
    'px-4': number
    }">
    <!-- Solo texto e icono o icono -->
    <!-- Solo icono -->
    <!-- Solo texto o numero -->
    <!-- Numero -->

    @if (number) {
    <span class="text-[var(--gray)]">{{ number }}.</span>
    }

    @if(title){
    <span [ngStyle]="{ color: color || 'var(--light)' }" class="whitespace-nowrap overflow-hidden text-ellipsis">{{
        title }}</span>
    }

    <!-- Current color para que agarre el color que se le asigna con css -->
    <!-- Fallback icono gray para cuando no hay color asignado -->
    @if (icon) {
    <lucide-icon [img]="icon" class="my-icon" [size]="size" [color]="color" [strokeWidth]="iconWidth"></lucide-icon>
    }
</div>