<main class="w-full h-full text-[var(--light)] flex flex-col gap-4">
    <!-- main title -->
    <div class="w-full flex justify-between flex-col">
        <app-main-title class="flex flex-col" [title]="'Dashboard'"></app-main-title>
        <app-sub-title [subTitle]="'This week problems'"></app-sub-title>
    </div>

    <!-- naah hermano super cocine con el flex flex-wrap y el flex 1_1_500px-->
     <!-- empieza en 500 pero puede encogerse si es necesario y crecer si es posible -->
    <!-- <div class="grid grid-cols-[repeat(auto-fit,minmax(500px,1fr))] gap-3"> -->



    <div class="flex flex-wrap gap-3 overflow-auto scrollbar-hide h-auto justify-start items-start content-start">
        @if (isLoading$ | async) {
            <div class="w-full text-center p-4 text-gray-400">
            Loading submissions...
            </div>
        } @else {

            @if (submissions$ | async; as submissions) {

            @for (sub of submissions; track sub.id) {
                <app-info-basic-card 
                [problem]="sub.problem?.title ?? 'Problema Desconocido'" 
                
                [number]="sub.problem?.id?.substring(0,4) ?? '0'"
                
                [completedIn]="(sub.submittedAt | date:'shortDate') ?? 'N/A'"
                
                [xp]="sub.problem?.difficulty === 'HARD' ? '50' : sub.problem?.difficulty === 'MEDIUM' ? '30' : '10'" 
                
                [difficulty]="sub.problem?.difficulty ?? 'Easy'"
                class="flex-[1_1_500px] max-w-full">
                </app-info-basic-card>
            } @empty {
                <div class="w-full text-center p-4 text-gray-400">
                You haven´t submitted yet.
                </div>
            }

            }
        }
    </div>

    <div class="w-full h-[70%] bg-[var(--dark)] rounded-md"></div>
</main>